
.container_12{width:100%}.header{background:white;height:110px;position:fixed}.nav ul a{color:black;text-decoration:none;font-family:'Alex Brush', cursive;font-size:35px}.nav ul li{margin-right:0px;font-weight:bold;display:inline;font-size:20px}.nav a:hover{color:black;font-size:30px}.nav{float:right;margin-top:20px;margin-right:10px}.logo{margin-top:0px;margin-left:0px;height:110px}.basic1,.basic2,.basic3{font-family:initial;color:white;font-family:'Lato', sans-serif;font-size:30px}.basic11,.basic22,.basic33{font-family:'Rochester', cursive;color:white;font-size:20px}.box{margin-top:20px;margin-left:35px;margin-right:95px}.basic{height:250px;width:400px;padding-right:50px}.col div{margin-top:140px}.hero{background:black}.hero_1{text-align:center;color:white;font-size:40px;line-height:1.5;padding:20px 0 20px;font-family:'Dancing Script', cursive;text-transform:uppercase;letter-spacing:1px}.hero_2{line-height:1.5;font-family:'Great Vibes', cursive;color:white;margin-left:auto;margin-right:auto;margin-top:10px;font-weight:300;text-align:center;font-size:30px}.hero_img{margin-left:24%;margin-right:auto;margin-top:20px;clear:both}.tab{margin-top:80px;height:400px;width:100%}.ff{padding-left:30px;height:271px;width:300px;margin:30px 0 0 50px}.right{float:right;margin:auto}.right h1,h4{font-family:cursive;color:white}input{margin-left:0px;font-size:18px}.form{margin-left:0px}footer{margin-left:100px;width:700px;font-size:15px;background:white;height:400px;font-family:'Lato', sans-serif}.xyz ul li a{color:black;font-size:15px;text-decoration:none}.xyz ul li{list-style:none}.abc{color:black;font-size:35px;margin-left:70px}.social a{color:rgb(169,169,169);padding-left:400px;padding-bottom::40px}.social li{padding-top:50px;display:inline}article,section{background-color:black}

form ul{
	padding-left: 0;
}

form li{
	list-style:none;
	padding-bottom: 20px;
}

textarea{
	width: 400px;
	height:200px;
}

label{
	display:block;
	cursor:pointer;
}
